# Background

<b> TO FILL UP </b> <br>
The dataset was obtained through Kaggle and it was obtained via the TMDB API. There are a total of 45,466 movies and 24 features.

# Problem Statement

<b> TO FILL UP </b>

# Data Dictionary

|Feature|Type|Dataset|Description|
|---|---|---|---|
|adult|object|movies_metadata.csv|Indicates if movie is for Adults|
|belongs_to_collection|object|movies_metadata.csv|Movie Series a movie belongs to|
|budget|object|movies_metadata.csv|Budget of the movie in dollars|
|genres|object|movies_metadata.csv|Genres associated with the movie|
|homepage|object|movies_metadata.csv|Official homepage of the movie|
|id|object|movies_metadata.csv|ID of movie|
|imdb_id|object|movies_metadata.csv|IMDB ID of movie|
|original_language|object|movies_metadata.csv|Language which the movie was shot in|
|original_title|object|movies_metadata.csv|Original Title of movie|
|overview|object|movies_metadata.csv|Brief Description of the movie|
|popularity|object|movies_metadata.csv|Popularity score assigned by TMDB|
|poster_path|object|movies_metadata.csv|URL of the poster image|
|production_companies|object|movies_metadata.csv|Production Companies involved with making of the movie|
|production_countries|object|movies_metadata.csv|Countries where the movie was shot/produced in|
|release_date|object|movies_metadata.csv|Theatrical Release Date of the movie|
|revenue|float|movies_metadata.csv|Total Revenue of the movie in dollars|
|runtime|float|movies_metadata.csv|Runtime of the movie in minutes|
|spoken_languages|object|movies_metadata.csv|Spoken Languages in the movie|
|status|object|movies_metadata.csv|Status of the movie|
|tagline|object|movies_metadata.csv|Tagline of the movie|
|title|object|movies_metadata.csv|Official Title of the movie|
|video|object|movies_metadata.csv|Indicates if there is a video present of the movie with IMDB|
|vote_average|float|movies_metadata.csv|Average Rating of the movie|
|vote_count|float|movies_metadata.csv|Number of votes by users, as counted by TMDB|

# Data Cleaning

In [1]:
#Import libraries
import pandas as pd
import numpy as np
import ast
import datetime

#Suppress Warnings
import warnings
warnings.filterwarnings('ignore')

#Adjust the max columns displayed in the df
pd.set_option("display.max_columns", 25)

In [2]:
#Load data
df = pd.read_csv('movies_metadata.csv')

Take a look at the first 5 records

In [3]:
df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

Take a look at the columns

In [4]:
df.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

Take a look at the shape

In [5]:
df.shape

(45466, 24)

Take a look at the columns, null values and data types

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

To address the duplicates and delete them from the dataset first.

In [7]:
df.duplicated().sum()

13

In [8]:
df = df.drop_duplicates()

We will now take a look at the features and do some data cleaning on the columns if necesary and drop those features which are unnecessary.

## adult

Given that most of the movies do not have adult feature, we will drop this feature from our dataset.

In [9]:
df['adult'].value_counts()

False                                                                                                                             45441
True                                                                                                                                  9
 - Written by Ørnås                                                                                                                   1
 Rune Balot goes to a casino connected to the October corporation to try to wrap up her case once and for all.                        1
 Avalanche Sharks tells the story of a bikini contest that turns into a horrifying affair when it is hit by a shark avalanche.        1
Name: adult, dtype: int64

In [10]:
df = df.drop('adult', axis=1)

## belongs_to_collection

Column is a dictionary form. To extract only the movie series from this column. Majority are null since not all movies belongs to a movie series.

In [11]:
df['belongs_to_collection']

0        {'id': 10194, 'name': 'Toy Story Collection', ...
1                                                      NaN
2        {'id': 119050, 'name': 'Grumpy Old Men Collect...
3                                                      NaN
4        {'id': 96871, 'name': 'Father of the Bride Col...
                               ...
45461                                                  NaN
45462                                                  NaN
45463                                                  NaN
45464                                                  NaN
45465                                                  NaN
Name: belongs_to_collection, Length: 45453, dtype: object

In [12]:
df['belongs_to_collection'] = df['belongs_to_collection'].fillna('None').apply(ast.literal_eval).apply(lambda x: x['name'] if isinstance(x, dict) else np.nan)

In [13]:
df['belongs_to_collection']

0                  Toy Story Collection
1                                   NaN
2             Grumpy Old Men Collection
3                                   NaN
4        Father of the Bride Collection
                      ...
45461                               NaN
45462                               NaN
45463                               NaN
45464                               NaN
45465                               NaN
Name: belongs_to_collection, Length: 45453, dtype: object

## budget

No null values in budget but dtype is object and some rows have 0 value. We will change the dtype to float and update those rows with 0 value to null since this could be missing information.

In [14]:
#coerce = invalid parsing will be set as NaN
df['budget'] = pd.to_numeric(df['budget'], errors='coerce')

#replace those with 0 to NaN
df['budget'] = df['budget'].replace(0, np.nan)

## genres

Not all movies have genres information. If no information is available, it will appear as an empty list. To replace empty list with null value and extract the genres of the movie into a list of genres in each row.

In [15]:
df['genres']

0        [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1        [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2        [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3        [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4                           [{'id': 35, 'name': 'Comedy'}]
                               ...
45461    [{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...
45462                        [{'id': 18, 'name': 'Drama'}]
45463    [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...
45464                                                   []
45465                                                   []
Name: genres, Length: 45453, dtype: object

In [16]:
df['genres'] = df['genres'].replace('[]','None')

In [17]:
df['genres'] = df['genres'].apply(ast.literal_eval).apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else np.nan)

In [18]:
df['genres']

0         [Animation, Comedy, Family]
1        [Adventure, Fantasy, Family]
2                   [Romance, Comedy]
3            [Comedy, Drama, Romance]
4                            [Comedy]
                     ...
45461                 [Drama, Family]
45462                         [Drama]
45463       [Action, Drama, Thriller]
45464                             NaN
45465                             NaN
Name: genres, Length: 45453, dtype: object

## homepage, imdb_id

We will not require these columns for our analysis. To drop from our dataset.

In [19]:
df = df.drop(['homepage', 'imdb_id'], axis=1)

## id

Update id column to integer.

In [20]:
#id has a row with date in id column. To drop such rows
df[df['id'].str.contains('-')]

,belongs_to_collection,budget,genres,id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
19730,NaN,NaN,"[Carousel Productions, Vision View Entertainme...",1997-08-20,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Midnight Man,False,6.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29503,NaN,NaN,"[Aniplex, GoHands, BROSTA TV, Mardock Scramble...",2012-09-29,68.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,NaN,Mardock Scramble: The Third Exhaust,False,7.0,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35587,NaN,NaN,"[Odyssey Media, Pulser Productions, Rogue Stat...",2014-01-01,82.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Beware Of Frost Bites,Avalanche Sharks,False,4.3,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
df = df.drop([19730, 29503, 35587])

In [22]:
df['id'] = df['id'].astype(int)

## original_language

To leave the column as it is. A couple of null value for situations where information is not available.

## original_title

There is a original title and title column, where original title is in the language which the movie is shot. We will drop the original title and keep the title column since we can find out the language of the movie via the original_language column.

In [23]:
df[df['original_title'] != df['title']][['title', 'original_title']].head()

                        title                    original_title
28  The City of Lost Children        La Cité des Enfants Perdus
29             Shanghai Triad                         摇啊摇，摇到外婆桥
32           Wings of Courage  Guillaumet, les ailes du courage
57                The Postman                        Il postino
58           The Confessional                  Le confessionnal

In [24]:
df = df.drop('original_title', axis=1)

## overview

To leave the column as it is. A couple of null value for situations where information is not available.

## popularity

Popularity is currently an object type. To change to float type. Some null values since information is not available for some movies.

In [25]:
df['popularity'] = df['popularity'].astype(float)

## poster_path

We will not require this column for our analysis. To drop from our dataset.

In [26]:
df = df.drop('poster_path', axis=1)

## production_companies

Not all movies have production_companies information. If no information is available, it will appear as an empty list or null value. To replace empty list with null value and extract the production_companies of the movie into a list in each row.

In [27]:
df['production_companies']

0           [{'name': 'Pixar Animation Studios', 'id': 3}]
1        [{'name': 'TriStar Pictures', 'id': 559}, {'na...
2        [{'name': 'Warner Bros.', 'id': 6194}, {'name'...
3        [{'name': 'Twentieth Century Fox Film Corporat...
4        [{'name': 'Sandollar Productions', 'id': 5842}...
                               ...
45461                                                   []
45462               [{'name': 'Sine Olivia', 'id': 19653}]
45463    [{'name': 'American World Pictures', 'id': 6165}]
45464                 [{'name': 'Yermoliev', 'id': 88753}]
45465                                                   []
Name: production_companies, Length: 45450, dtype: object

In [28]:
df['production_companies'] = df['production_companies'].replace('[]','None')
df['production_companies'] = df['production_companies'].fillna('None')

In [29]:
df['production_companies'] = df['production_companies'].apply(ast.literal_eval).apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else np.nan)

In [30]:
df['production_companies']

0                                [Pixar Animation Studios]
1        [TriStar Pictures, Teitler Film, Interscope Co...
2                           [Warner Bros., Lancaster Gate]
3                 [Twentieth Century Fox Film Corporation]
4             [Sandollar Productions, Touchstone Pictures]
                               ...
45461                                                  NaN
45462                                        [Sine Olivia]
45463                            [American World Pictures]
45464                                          [Yermoliev]
45465                                                  NaN
Name: production_companies, Length: 45450, dtype: object

## production_countries

Not all movies have production_countries information. If no information is available, it will appear as an empty list or null value. To replace empty list with null value and extract the production_countries of the movie into a list in each row.

In [31]:
df['production_countries']

0        [{'iso_3166_1': 'US', 'name': 'United States o...
1        [{'iso_3166_1': 'US', 'name': 'United States o...
2        [{'iso_3166_1': 'US', 'name': 'United States o...
3        [{'iso_3166_1': 'US', 'name': 'United States o...
4        [{'iso_3166_1': 'US', 'name': 'United States o...
                               ...
45461               [{'iso_3166_1': 'IR', 'name': 'Iran'}]
45462        [{'iso_3166_1': 'PH', 'name': 'Philippines'}]
45463    [{'iso_3166_1': 'US', 'name': 'United States o...
45464             [{'iso_3166_1': 'RU', 'name': 'Russia'}]
45465     [{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]
Name: production_countries, Length: 45450, dtype: object

In [32]:
df['production_countries'] = df['production_countries'].replace('[]','None')
df['production_countries'] = df['production_countries'].fillna('None')

In [33]:
df['production_countries'] = df['production_countries'].apply(ast.literal_eval).apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else np.nan)

In [34]:
df['production_countries']

0        [United States of America]
1        [United States of America]
2        [United States of America]
3        [United States of America]
4        [United States of America]
                    ...
45461                        [Iran]
45462                 [Philippines]
45463    [United States of America]
45464                      [Russia]
45465              [United Kingdom]
Name: production_countries, Length: 45450, dtype: object

## release_date

We want to extract the year, month and day of week for the release_date.

In [35]:
df['release_year'] = pd.to_datetime(df['release_date'], errors='coerce').apply(lambda x: str(x).split('-')[0] if x != np.nan else np.nan)

In [36]:
month_order = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
weekday_order = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']

In [37]:
def get_month(x):
    try:
        return month_order[int(str(x).split('-')[1]) - 1]
    except:
        return np.nan

In [38]:
def get_weekday(x):
    try:
        year, month, day = (int(i) for i in x.split('-'))    
        answer = datetime.date(year, month, day).weekday()
        return weekday_order[answer]
    except:
        return np.nan

In [39]:
df['release_month'] = df['release_date'].apply(get_month)
df['release_weekday'] = df['release_date'].apply(get_weekday)

## revenue

Revenue has 0 value, to replace it with NaN since info is not provided.

In [40]:
df['revenue'] = df['revenue'].replace(0, np.nan)

## runtime, status, tagline, title

To leave these column as it is. A couple of null value for situations where information is not available.

## spoken_languages

Not all movies have spoken_languages information. If no information is available, it will appear as an empty list or null value. To replace empty list with null value and extract the spoken_languages of the movie into a list in each row.

In [41]:
df['spoken_languages']

0                 [{'iso_639_1': 'en', 'name': 'English'}]
1        [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
2                 [{'iso_639_1': 'en', 'name': 'English'}]
3                 [{'iso_639_1': 'en', 'name': 'English'}]
4                 [{'iso_639_1': 'en', 'name': 'English'}]
                               ...
45461               [{'iso_639_1': 'fa', 'name': 'فارسی'}]
45462                    [{'iso_639_1': 'tl', 'name': ''}]
45463             [{'iso_639_1': 'en', 'name': 'English'}]
45464                                                   []
45465             [{'iso_639_1': 'en', 'name': 'English'}]
Name: spoken_languages, Length: 45450, dtype: object

In [42]:
df['spoken_languages'] = df['spoken_languages'].replace('[]','None')
df['spoken_languages'] = df['spoken_languages'].fillna('None')

In [43]:
df['spoken_languages'] = df['spoken_languages'].apply(ast.literal_eval).apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else np.nan)

In [66]:
#may contain empty list since the 'name' might be empty
df['spoken_languages']

0                  [English]
1        [English, Français]
2                  [English]
3                  [English]
4                  [English]
                ...
45461                [فارسی]
45462                     []
45463              [English]
45464                    NaN
45465              [English]
Name: spoken_languages, Length: 45450, dtype: object

In [ ]:
#when doing eda, need to note that NaN means that info is not available for name
#[] means name: is available but record is blank for name
#for dictionaries and list of dictionaries features!

## video

We will not require this column for our analysis. To drop from our dataset.

In [45]:
df = df.drop('video', axis=1)

## vote_average, vote_count

To leave these column as it is. A couple of null value for situations where information is not available.

## profit_loss

To create new column profit_loss. If there is profit, value > 1. If not value < 1.

In [46]:
#value > 1: profit, value < 1: loss 
df['profit_loss'] = df['revenue'] / df['budget']

In [47]:
#Save clean file as csv
df.to_csv('movies_metadata_clean.csv', index=False)